body {
    background-color: #f8f9fa;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1, h2 {
    color: #007bff;
  }
  
input[type="radio"]:checked+label {
    color: #374c8b;
    font-weight: 600;
}

  .box {
    margin-top: 20px;
  }

  label {
    margin-right: 10px;
  }

  #output {
    white-space: pre-wrap;
  }